In [33]:
import pandas as pd
import numpy as np
root = pd.read_csv('algae.csv')
root

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [46]:
root.loc[:, ['group', 'citrate']].groupby('group').describe()

      citrate                                                              \
        count      mean       std       min       25%       50%       75%
group
brown     6.0  4.098597  2.338577  1.071920  2.163641  5.128895  5.529506
green     3.0  5.288311  1.987489  3.082826  4.462173  5.841520  6.391054
red       1.0  5.573905       NaN  5.573905  5.573905  5.573905  5.573905


            max
group
brown  6.423606
green  6.940588
red    5.573905

In [38]:
fucus_alanin = root.query('genus == "Fucus"').loc[:, ["species", "alanin"]]
print([round(fucus_alanin['alanin'].min(), 2), round(fucus_alanin['alanin'].mean(), 2), round(fucus_alanin['alanin'].max(), 2)])

[0.35, 3.57, 6.64]